.housing{
  justify-content: flex-start;
  min-height: calc(102vh - var(--hdrheight) - var(--ftrheight));
}

/* Under carroussel informations*/

.global {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding-top: 1em;
}

/* Title, Location and Tags*/
.mainInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.housing h1 {
  font-size: 1.15em;
  font-weight: 500;
  text-align: left;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.housing h2 {
  font-size: 0.9em;
  font-weight: 500;
  text-align: left;
  width: 100%;
  margin: 0;
  margin-bottom: 0.75em;
}

.housing ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

/*Rating and Profil*/

.subInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/*Dropdown buttons section*/

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em 0;
}

.details article {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .global {
    flex-direction: row;
  }

  .housing h1 {
    font-size: 2.2em;
    margin-bottom: 0.2em;
  }

  .housing h2 {
    font-size: 1.15em;
  }

  .subInfo {
    flex-direction: column-reverse;
    align-items: flex-end;
    width: 30%;
  }

  .profil p {
    font-size: 1.15em;
  }

  .profil img {
    height: 64px;
  }
}

@media only screen and (min-width: 992px) {
  .details {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .details article{
    width: 48%;
  }
}
