.housing{
    padding: 20px 10px;
    max-width: 1240px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.global{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.mainInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.housing h1{
    font-size: 1.15em;
    font-weight: 500;
    text-align: left;
    width: 100%;
    margin-bottom: 0.5em;
}

.housing h2{
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
    width: 100%;
    margin: 0;
}

.housing ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 0.75em;
}

@media only screen and (min-width: 768px) {

    .housing h1{
        font-size: 2.2em;
        margin-bottom: 0.2em;
    }

    .housing h2{
        font-size: 1.15em;
    }
}