main {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 1240px;
  margin: auto;
}

.container {
  background-color: none;
  border-radius: 25px;
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container::after {
  height: 0;
  width: 340px;
  content: "";
}

.container a {
  display:block;
  width: 100%;
  cursor: pointer;
  z-index: 99;
}

@media only screen and (min-width: 768px) {
  
  .container {
    background-color: #f6f6f6;
    margin-top: 3em;
    padding: 1em;
  }
}

@media only screen and (min-width: 992px) {

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 340px;
  }

  .container a {
    width: 48%;
  }
}

@media only screen and (min-width: 1200px) {

  .container a {
      width: 340px;
  }
}