.card{
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 255px;
    margin-bottom: 20px;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(0,0,0,0.5));
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    z-index: -1;
}

.card h2{
    font-size: 1.1em;
    font-weight: normal;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 1em; 
}

@media only screen and (min-width: 992px) {

    .card {
        width: 48%;
        height: 340px;        
    }

}

@media only screen and (min-width: 1200px) {

    .card {
        width: 340px;
        height: 340px;        
    }

}