.header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.header__logo {
    width: 145px;
    flex-grow: 1;
}

.header__nav {
    color: #FF6060;
    font-size: 0.75em;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    max-width: 309px;
    flex-basis: 40%;
    
}

.header__nav a:hover{
    text-decoration: underline;
}

@media only screen and (min-width: 576px) {

    .header__logo {
        width: 215px;
        flex-grow: 1;
    }

    .header-container{
        max-width: 1240px;
        margin: auto;
    }

    .header__nav {
        flex-basis: 40%;
        font-size: 1em;
    }
}

@media only screen and (min-width: 768px) {

   .header__nav {
        flex-basis: 38%;
        font-size: 1.5em;
    }
}

@media only screen and (min-width: 992px) {

    .header__nav {
        font-size: 1.5em;
    }
}